<div class="row">
  <div class="col-lg-12">
    <h1>Booking Page</h1>
  </div>
</div>

<form [formGroup]="filterForm" (submit)="getHospitals()">
  <mat-card class="mb-3">
    <mat-card-content>
      <div class="row">
        <div class="col-lg-3">
          <mat-form-field class="example-full-width mt-3" appearance="fill">
            <mat-label>Hospital Search</mat-label>
            <input type="text" matInput formControlName="hospital" placeholder="Hospital Search">
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-form-field class="example-full-width mt-3" appearance="fill">
            <mat-label>Address Search</mat-label>
            <input type="text" matInput formControlName="address" placeholder="Address Search">
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-form-field class="example-full-width mt-3" appearance="fill">
            <mat-label>PinCode</mat-label>
            <input type="text" matInput formControlName="pinCode" placeholder="PinCode">
          </mat-form-field>
        </div>

        <div class="col-lg-3">
          <div class="mt-4" *ngIf="filterForm.value as data">
            <button mat-raised-button [disabled]="!data.hospital && !data.pinCode && !data.address"
                    color="primary" type="submit">
              Search
            </button>
            <button (click)="filterForm.reset(); getHospitals()" mat-raised-button
                    *ngIf="data.hospital || data.pinCode || data.address"
                    type="button" class="ml-3">
              Clear Search
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>

<div class="row" *ngIf="isLoading">
  <div class="col-lg-12">
    <div class="d-flex justify-content-start align-items-center">
      <mat-spinner diameter="20" class="mr-2" *ngIf="isLoading"></mat-spinner>
      <span>Loading Hospitals List...</span>
    </div>
  </div>
</div>

<div class="row" *ngIf="!isLoading">
  <div class="col-lg-12 mb-5">

    <div class="d-flex justify-content-start align-items-center text-secondary" *ngIf="!hospitals?.length">
      No Bookings Found
    </div>

    <mat-card class="mb-3" *ngFor="let item of hospitals">
      <mat-card-header>
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-subtitle>{{ item.address }}, {{ item.pinCode }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div class="">
          <p class="">{{ item.description }}</p>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-3">
          <div class="item">
            <h4 class="text-secondary text-center">Beds</h4>
            <p class="">
              <span>Total: <b>{{ item.bed?.total }}</b></span>
              <span class="ml-2">Available: <b>{{ item.bed?.available }}</b></span>
            </p>
          </div>
          <div class="item">
            <h4 class="text-secondary text-center">Ventilators</h4>
            <p class="">
              <span>Total: <b>{{ item.ventilator?.total }}</b></span>
              <span class="ml-2">Available: <b>{{ item.ventilator?.available }}</b></span>
            </p>
          </div>
          <div class="item">
            <h4 class="text-secondary text-center">Oxygen Beds</h4>
            <p class="">
              <span>Total: <b>{{ item.oxygen?.total }}</b></span>
              <span class="ml-2">Available: <b>{{ item.oxygen?.available }}</b></span>
            </p>
          </div>
          <div class="item">
            <h4 class="text-secondary text-center">Isolation Wards</h4>
            <p class="">
              <span>Total: <b>{{ item.isolation?.total }}</b></span>
              <span class="ml-2">Available: <b>{{ item.isolation?.available }}</b></span>
            </p>
          </div>
        </div>

        <div class="d-flex justify-content-start align-items-center mt-3">
          <button mat-raised-button color="accent" (click)="bookNow(item)">Book Now</button>

          <p class="mb-0 ml-3">Need to Talk?? call <a href="tel:{{ item?.phone }}">{{ item?.phone }}</a></p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
