<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="cursor: pointer;" routerLink="/home">Covid Killer</span>
  <span class="example-spacer"></span>

  <div class="d-flex justify-content-start align-items-center" *ngIf="auth.user$ | async">
    <button mat-raised-button routerLink="/home/" class="example-icon"
            aria-label="Example icon-button with heart icon">
      Previous Bookings
    </button>

    <button mat-raised-button routerLink="/booking" class="example-icon ml-2"
            aria-label="Example icon-button with heart icon">
      Booking Facilities
    </button>

    <button mat-raised-button routerLink="/auth/login" class="example-icon ml-2 mr-2"
            aria-label="Example icon-button with heart icon" (click)="auth.logout()">
      <mat-icon class="mr-1">logout</mat-icon>
      Logout
    </button>
  </div>


  <div class="d-flex justify-content-start align-items-center" *ngIf="!(auth.user$ | async)">
    <button mat-raised-button routerLink="/auth/login" class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon">
      Login
    </button>
    <button mat-raised-button routerLink="/auth/register" class="example-icon ml-2"
            aria-label="Example icon-button with share icon">
      Register
    </button>
  </div>
</mat-toolbar>
