<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Covid Killer</span>
  <span class="example-spacer"></span>
  <button mat-raised-button routerLink="/auth/login" class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon">
    Login
  </button>
  <button mat-raised-button routerLink="/auth/register" class="example-icon ml-2"
          aria-label="Example icon-button with share icon">
    Register
  </button>
</mat-toolbar>
